<script type="text/javascript" charset="utf-8">
$(function(){
new Highcharts.Chart({
		chart:{
			renderTo: "my_container"
		},
		title: {
			text: "Datos Irrelevantes"
		},
		xAxis: {
			type: "datetime"
		},
		yAxis: {
			type: "dolores"
		},
		series: [{
			data: [100, 200, 350, 32, 24]
		}]
	});
});
</script>
<div id="my_container" style="width:600px; height:500px;"></div>