<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<div id="my_div"></div>
<p>
<<<<<<< HEAD
<%= high_chart("my_div", @g) %></br>
 </br>
 <a href="../bar/grafico_1.html">grafico_1</a>
 </br>
 <a href="../grafica_lineal/lineal.html">grafico_2</a>
 </br>
 <a href="../grafica_pie/pie.html">grafico_2</a>
</p>
=======
Char doesn´t show above here...
</p>

</div>


>>>>>>> 860e5849867d28c3bf782d738d9aa4eb04d88cfa
